html {
    font-family: sans-serif;
}

.container {
    margin: auto;
    max-width: 42em;
}

img {
    max-width: 200px;
}

.linklogo:hover {
    opacity: 0.6;
}

.linklogo {

    width: 1.5em;
    height: 1.5em;
    margin-right: 1em;
}


.photos {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1em;
}
