html {
    font-family: sans-serif;
    background-color: #ffffff;
}

.container {
    margin: auto;
    max-width: 70em; /* col width of 50-70 best for readers*/
}

.linklogo:hover {
    opacity: 0.6;
}

.linklogo {
    width: 1.5em;
    height: 1.5em;
    margin-right: 1em;
}

.slideshow {
    max-width: 640px;
    position: relative;
    margin: auto;
}

.slide {
    display: none;
    width: 640px;
    background-color: black;
}

iframe {
    border: none;
}

#slide1 {
    display: block;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
    font-size: 32px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.slidenumber {
    font-size: 16px;
    color: white;
    font-weight: 400;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.caption {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 1px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0 , 0, 0.5)
    
  }


