html {
    font-family: Georgia;
    background-color: #ffffff;
}

.intro {
    display: flex;
}

.previewSpacer {
    flex: 1;
}

.previewWindow {
    /* flex: 1; */
    border: .2em double rgb(0, 0, 0);
    height: 30em;
    width: 40em;
}

.container {
    margin: auto;
    max-width: 70em; /* col width of 50-70 best for readers*/
}

#titlebar {
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(243, 243, 243);
    display: flex;
    align-items: center;
}

#titlebar a:hover{
    color: #4cb446;
}

a:hover {
    color: #4cb446;
}

.titlelink{
    padding: 1em;
    text-decoration: none;
    color: rgb(105, 105, 105);
}

#titlebar > .name {
    flex: 1;
}

:hover#github {
    filter: invert(0.5) sepia(1) saturate(5) hue-rotate(0deg);
}

:hover#linkedin {
    filter: invert(0.5) sepia(1) saturate(5) hue-rotate(180deg);
}

:hover#mailto {
    filter: invert(0.5) sepia(1) saturate(5) hue-rotate(320deg);
}

.linklogo {
    width: 1.5em;
    height: 1.5em;
    margin-right: 1em;
}

a.name {
    color: rgb(81, 81, 81);
    text-decoration: none;
}

a.name > h1 {
    display: inline;
}

.projectslist a {
    color: rgb(109, 109, 172);
    text-decoration: none;
}

.projectslist a:hover {
    color: #4cb446;
}

  @media (max-width:calc(70em * 1.3)){
    .container {
        max-width: 70vw;
    }

}
